<div style="width: 90%; margin: auto;">
  <form class="ui form">
    <h4 class="ui dividing header">Enter New Movie</h4>
    <div class="field">
      <label>Movie Name</label>
      <div class="two fields">
        <div class="field">
          <input type="text" placeholder="Movie Name">
        </div>
      </div>
    </div>
    <div class="field" style="width: 100%;">
      <label>Description</label>
      <div class="fields">
        <div class="twelve wide field">
          <input type="text" placeholder="Description">
        </div>
      </div>
    </div>
    <div class="field" style="width: 50%;">
      <label>Categories</label>
      {{#ui-dropdown class="fluid multiple selection" selected=category onChange=(action addCategory)}}
        <i class="dropdown icon"></i>
        <div class="default text">Select Category</div>
        <div class="menu">
          {{#each categories as |item|}}
            <div data-value="{{item.name}}" class="item">
              {{item.name}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>
    <div class="two fields">
      <div class="field" style="width: 100%;">
        <label>Rating</label>
        <div class="fields">
          <div class="twelve wide field">
            <input type="text" placeholder="X.X">
          </div>
        </div>
      </div>
      <div class="field" style="width: 100%;">
        <label>Year</label>
        <div class="fields">
          <div class="twelve wide field">
            <input type="text" placeholder="YYYY">
          </div>
        </div>
      </div>
    </div>
    <div class="ui button" tabindex="0" {{action 'save'}}>Create Movie</div>
  </form>
</div>